doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    title Motion Detector
  body
    .container
      .row
        .col-md-12
          h1 Motion Detector
          form(action='activate', method='POST')
            button.btn.btn-primary(type='submit') Activate
          br
          form(action='deactivate', method='POST')
            button.btn.btn-danger(type='submit') Deactivate
          br
          |  
          img.shrinkToFit(src!=camera_url, alt='image from camera')
